<!DOCTYPE html>
<html lang="ru" class="page catalog-page">

<head>
  <link rel="icon" href="favicon.ico">
  <link rel="icon" href="../static/img/icons/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="180.png">
  <link rel="manifest" href="manifest.webmanifest">
  <link href="../static/css/normalize.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <meta charset="utf-8">
  <title>HTML Academy: Техномарт</title>
</head>
{% block content %}{% endblock %}